<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>Save Student Registration</title>
  </head>

  <body>
    <div class="container">
      <h3>Student Registration Directory</h3>
      <h3 th:text="${courseName}"></h3>
      <hr />

      <p class="h4 mb-4">Save Student</p>

      <form
        action="#"
        th:action="@{/studentregistrations/save}"
        th:object="${studentregistration}"
        method="POST"
      >
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{courseId}" />
        <input type="hidden" th:field="*{studentId}" />
        <input type="hidden" th:field="*{studentCourseGrade}" />
        <input type="hidden" th:field="*{studentProjectGrade}" />
        
		<h7>Student Name</h7>
        <input
          type="text"
          th:field="*{studentName}"
          class="form-control mb-4 col-4"
          placeholder="Student Name"
        />


		<h7>Year Of Registration</h7>
        <input
          type="text"
          th:field="*{studentYearOfRegistration}"
          class="form-control mb-4 col-4"
          placeholder="Year Of Registration"
        />
		
		<h7>Year Of Studies</h7>
        <input
          type="text"
          th:field="*{studentYearOfStudies}"
          class="form-control mb-4 col-4"
          placeholder="Year Of Studies"
        />
		
		<h7>Current Semester</h7>
        <input
          type="text"
          th:field="*{studentCurrentSemester}"
          class="form-control mb-4 col-4"
          placeholder="Current Semester"
        />

        <button type="submit" class="btn btn-info col-2">Save</button>
      </form>

      <hr />
      <a th:href="@{/studentregistrations/list(courseId=*{courseId})}">Back to Students List</a>
    </div>
  </body>
</html>
